@import '../../Variables.scss';

.Home {
    .hero {
        margin: 50px 0px;
        .hero-text {
            margin-top: 50px;
            text-align: right;
            h1 {
                font-weight: 800;
            }
            img {
                width: 100%;
            }
        }
    }

    .about {
        padding: 0px 250px;
        iframe {
            margin: 50px 0px;
            box-shadow: 20px 20px $tertiary-color;
        }
    }

    p {
        font-size: 1.5em;
        line-height: 1.8em;
    }

    .invite-button {
        margin: 50px 0px;
        border-top: 7px solid $secondary-color;
        border-bottom: 7px solid $blue-color;
        .col-md-6 {
            padding: 100px 60px;
        }
        button {
            background: none;
            border: none;
            font-size: 3.5em;
            font-weight: 800;
        }
        .compete-text {
            text-align: right;
            color: $secondary-color;
        }
        .data-partner-text {
            text-align: left;
            color: $blue-color;
        }
        .compete {
            border-right: 7px solid $primary-color;
        }
        .compete:hover {
            background-color: $secondary-color;
            .compete-text {
                color: $white-color;
            }
        }
        .data-partner:hover {
            background-color: $blue-color;
            .data-partner-text {
                color: $white-color;
            }
        }

    }

    .heading {
        border-bottom: 7px solid $secondary-color;
        width: 600px;
        padding-bottom: 10px;
        margin: 40px 0px;
        h1 {
            font-size: 3em;
            text-align: left;
            width: 40px;
            color: $secondary-color;
            font-weight: 700;
        }
    }
    .heading-yellow {
        border-bottom: 7px solid $tertiary-color;
        h1 {
            color: $tertiary-color;
            width: 100%;
        }
        margin: 0px auto;
    }
    .heading-black {
        width: 400px;
        border-bottom: 7px solid $black-color;
        h1 {
            color: $black-color;
            width: 100%;
        }
        margin: 0px auto;
    }
    .heading-center {
       h1 {
            text-align: center;
       }
    }

    .unlock {
        .unlock-item {
            margin: 80px 0px;
        }
        p.themes {
            color: $secondary-color;
            font-weight: 800;
            margin: 0px;
        }
        .align-left {
            text-align: left;
        }
        .align-right {
            text-align: right;
        }
        
        .heading-box {
            text-align: right;
            padding: 15px;
            padding-right: 25px;
            padding-top: 25px;
            img {
                width: 40%;
                margin-bottom: 50px;
            }
            h1 {
                font-size: 2em;
                font-weight: 700;
                margin: 0;
                margin-bottom: 10px;
            }
            h1.big {
                font-size: 5em;
                font-weight: 700;
                margin: 0;
            }
        }
        .heading-box-yellow {
            background-color: $tertiary-color;
            h1 {
                color: $secondary-color;
            }
        }
        .heading-box-red {
            background-color: $secondary-color;
            h1 {
                color: $white-color;
            }
        }
        .heading-box-blue {
            background-color: $blue-color;
            h1 {
                color: $white-color;
            }
        }
    }

    .reward {
        .prize-money {
            width: 50%;
            margin: 30px auto;
            font-size: 5em;
            background-color: $blue-color;
            color: $white-color;
            font-weight: 600;
            padding: 10px 20px;
            span {
                font-family: Courier, monospace;
            }
        }
    }
    .timeline {
        margin-top: 70px;
        padding: 50px 0px;
        background-color: $tertiary-color;
    }

    .Footer {
        background-color: $secondary-color;
        border-top: 5px solid $black-color;
        padding: 40px 0px;
        color: $white-color;
        text-align: center;
        img {
            width: 140px;
        }
        small {
            padding: 0px 20px;
            display: block;
            font-size: 0.9em;
            margin-bottom: 30px;
        }
    }

    
}