@import '../../Variables.scss';

.Partners {
    margin: 40px 0px;
    padding: 40px 0px;
    .item-container {
        margin-top: 50px;
        .row {
            margin-top: 30px;
        }
        img {
            width: 190px;
            height: 190px;
        }
        p {
            margin-top: 10px;
            font-size: 1.3em;
            min-height: 90px;
        }
        a {
            color: $black-color;
            font-weight: 600;
        }
        .scm-logo {
            width: 120px;
        }
        .giz-logo {
            width: 110%;
        }
        .dataspace-logo {
            width: 70%;
        }
        small {
            font-size: 1em;
        }
    }
}