|Dear (insert Full Name), 
|Thank you for registering as a Data Partner with SMART MOVE Innovative Urban Mobility Challenge. For easy reference, please find attached your submitted form in an editable .docx format. 
|
|To complete your registration, follow these 3 simple steps. 
|Login to our secure file sharing platform (insert Pydio URL) using the username and password below.
|Username: 
|Password: 
|Once you login, drag and drop the files you wish to share into their sector-wise folders on the webpage. You can also use the ‘New’ button on the top left corner to upload files and folders from your computer. 
|Please ensure you share the data in a machine-readable format (.xls, .csv, JSON, etc.). 
|
|We assure you that all the data that you share will be securely stored at the National Institute of Urban Affairs for the duration of the Challenge. We will only share it with registered participants with an attached data license that clearly states the terms and conditions of use. 
|
|To learn more about the data sharing process, please visit our Frequently Asked Questions page here (insert FAQ page URL)
|
|Do you have any other questions about the file sharing process or the SMART MOVE Challenge? Reach out to us at smartmove@niua.org or speak to Mr. Ankit Rai at +91 1124634971 (ext. 219). 
|
|Thank you for helping India take another step towards smart and sustainable urban mobility. 
|
|Kind regards 
|SMART MOVE Team 

